# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
myenv/
env/
ENV/
.venv/
.env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest
.cache

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Logs
*.log

# CSV files (if you want to ignore generated CSV files)
*.csv

# Other files to ignore
*.DS_Store
Thumbs.db